body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .app {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #007bff;
    color: #fff;
    font-family: 'Verdana', Geneva, sans-serif;
    padding: 10px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    padding: 20px 0;
  }

.courses-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .course {
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    min-width: 300px;
    transition: transform 0.2s;
  }
  
  
  .course h2 {
    font-family: 'Verdana', Geneva, sans-serif;
    color: #007bff;
    margin-bottom: 15px;
  }

  .course:hover {
    transform: translateY(-4px);
  }
  
  .course p {
    color: #333;
    margin-bottom: 10px;
  }
  
  .course ul {
    margin-bottom: 10px;
  }
  
  .course-buttons button {
    margin-right: 5px;
  }
  
  
  form {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input,
  select {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    overflow: hidden; /* Oculta las opciones que se desborden */
    white-space: nowrap; /* Evita que el texto se ajuste automáticamente */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto es demasiado largo */
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }



  
  .asistencia-container {
    text-align: center;
  }
  
  .asistencia-container h2 {
    color: #007bff;
    margin-bottom: 15px;
  }

  .asistencia-container label {
    align-items: center;
    margin-bottom: 10px;
  }
  
  .asistencia-container input[type="checkbox"] {
    margin-right: 10px; /* Espacio entre el checkbox y el texto */
    width: 20px; /* Ancho del checkbox */
    height: 20px; /* Alto del checkbox */
  }

  .crear-entrenamiento-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .crear-entrenamiento-container h2 {
    color: #007bff;
    margin-bottom: 15px;
  }

  .editar-entrenamiento-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Agrega más estilos según tus preferencias */
  }
  
  .editar-entrenamiento-container h2 {
    color: #007bff;
    margin-bottom: 15px;
  }
  
  .editar-entrenamiento-container select,
  .editar-entrenamiento-container input {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
  }
  
  .editar-entrenamiento-container label {
    display: block;
    margin-bottom: 10px;
  }
  
  .editar-entrenamiento-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
  }

  form {
    margin-top: 20px;
    padding: 10px;
    align-items: center;
    border: 1px solid #ccc;
    margin-bottom: 20px; /* Agrega el margen inferior aquí */
  }