body {
    margin: 0;
    padding: 0;
    font-family: monserrat;
    height: 100vh;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #000000;
      background: linear-gradient(150deg,#FFFFFF);
    }
  }
  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh; /* Ajusta la altura según tus necesidades */
  }

.imageContainer img {
    max-width: 100%;
    max-height: 100%;
  }
.ubb{
    display: block; 
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    text-align: center;
}
.formulario {
    position: relative;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    border-radius: 10px;
  }
.formulario .text1{
    font-size: 20px;
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.formulario form{
    padding:  0 20px;
    box-sizing: border-box;
}
.formulario .inputContainer{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.inputContainer input{
    width: 50%;
    padding: 0 5px;
    height: 20px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.inputContainer label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(50%);
    font-size: 16px;
    pointer-events: none;
}

.inputContainer span::before{
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width: 60%;
    height: 1px;
    background: #ABC0E9;
}

.inputContainer input:focus ~ span::before,
.inputContainer input:focus ~ span::before{
    width: 20%;
}

.botonini{
    width: 40%;
    height: 50px;
    border: 1px solid;
    background:  #007bff;
    border-radius: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: white;
    text-align: center;
}
.botonini:hover{
    border-color: rgb(107, 146, 180);
    transition: .5%;
    text-align: center;
}
.msj{
  text-align: center;
}



